#my-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 2% 2% 2%
}

.centeredRow{
    display: flex;
    justify-content: center;
    /*margin-top: 1%;*/
    margin-bottom: 1%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


#map{
    padding: 5% 5% 5% 5%;
    position: relative;
    height: 85%;
    width: 85%;
}