#my-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
    justify-content: center;
}

.centeredRow{
    display: flex;
    justify-content: center;
    /*margin-top: 1%;*/
    margin-bottom: 1%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center;*/
}

.hack{
    padding-bottom: 250px;
    margin-bottom: -250px;
}

.scrolling-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: 500px;
    margin-bottom: -500px;
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
    margin-bottom: 2%;
}

.scroll-btn{
    background-color: transparent;
    border: none;
}

.wrapper-wrapper{
    display: flex;
    flex-direction: row;
}

#map{
    padding: 5% 5% 5% 5%;
    position: relative;
    height: 85%;
    width: 85%;
}